.expanded_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.25rem;
    gap: 1rem;

    .overall_rating_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .overall_rating {
        display: flex;
        justify-content: center;
        gap: .5rem;
        align-items: center;
    }

    .rating_details {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }

    .rating_row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }


    .progress_bar {
        width: 100px;
        height: 10px;
    }

    .actions {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;
        justify-content: center;
    }
}


@media screen and (min-width: 769px) {
    :global(.product-widget-preview-mobile) .expanded_header {
        flex-direction: column;
        justify-content: center;
    }
}