.orders {

    .table {
        overflow: scroll;

        & tr {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue", "sans-serif";
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.02em;
            text-align: left;
        }

        & thead {
            border-radius: 10px;
            background: #F3F4F6;
        }
    }

    .pagination {
        height: 10%;
    }
}