.wd_fp_header_container {
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: 1rem;
}

.wd_fp_header_container__close_icon {
    padding: .5em;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 20%;
    background-color: lightgray;
}

.wd_fp_header_container__close_icon:hover {
    opacity: 1;
}

.wd_fp_header_container__text {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

