/*compact Header*/

.r_pw_ch_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.25rem;
    gap: 1rem;
}

.r_pw_ch_rating_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.r_pw_ch_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 2em;
}

.r_pw_ch_rd_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.r_pw_ch_rd_detail {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.r_pw_ch_rd_detail_icon {
    display: flex;
    gap: .75rem;
}


.r_pw_ch_rd_detail_progress_bar {
    width: 100px;
    height: 5px;
}

.r_pw_ch_rd_detail_progress_bar_count {

}

.r_pw_ch_actions {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.r_pw_ch_actions_new_review_btn_container {

}

.r_pw_ch_actions_new_review_btn_container_btn {
    border: 8px;
    padding: 8px;
}

.r_pw_ch_actions_sorting_container_btn {
    border: 8px;
    padding: 8px;
}

/*Sorting Popover*/

.r_pw_h_popover-container {
    position: relative;
    display: inline-block;
}

.r_pw_h_popover-trigger {
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.r_pw_h_popover-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 15px;
    z-index: 1000;
    white-space: nowrap;
}


/*Grid Review Item*/
.r_pw_r_g_container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.r_pw_r_g_container--review-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .75rem;
    max-width: 250px;
}

.r_pw_r_g_container--review-details--title {

}

.r_pw_r_g_container--review-details--image {

}

.r_pw_r_g_container--review-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.r_pw_r_g_container--review-is-verified {

}

.r_pw_r_g_container--review-date {

}

.r_pw_r_g_container--review-rating-details {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: .5rem;
}

.r_pw_r_g_container--review-content {

}

.r_pw_r_g_container--reply-container {
    padding: .75rem;
}

.r_pw_r_g_container--reply--reviewer_name {

}

.r_pw_r_g_container--reply--content {

}

.r_pw_r_g_container--product_container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    padding: .75rem;
}

.r_pw_r_g_container--product_container--img_container {

}

.r_pw_r_g_container--product_container--product_name {

}