@font-face {
  font-family: 'review';
  src:  url('fonts/review.eot?fud4ov');
  src:  url('fonts/review.eot?fud4ov#iefix') format('embedded-opentype'),
    url('fonts/review.ttf?fud4ov') format('truetype'),
    url('fonts/review.woff?fud4ov') format('woff'),
    url('fonts/review.svg?fud4ov#review') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.review {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'review' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.review-arrow-left:before {
  content: "\e912";
}
.review-arrow-right:before {
  content: "\e913";
}
.review-caret-left:before {
  content: "\e914";
}
.review-caret-right:before {
  content: "\e915";
}
.review-clipboard-text:before {
  content: "\e916";
}
.review-desktop:before {
  content: "\e917";
}
.review-mobile:before {
  content: "\e918";
}
.review-funnel-simple:before {
  content: "\e919";
}
.review-settings:before {
  content: "\e91a";
}
.review-image-square:before {
  content: "\e91b";
}
.review-info:before {
  content: "\e91c";
}
.review-plus:before {
  content: "\e91d";
}
.review-simple-start:before {
  content: "\e91e";
}
.review-thank-you:before {
  content: "\e91f";
}
.review-video-camera:before {
  content: "\e920";
}
.review-warning:before {
  content: "\e921";
}
.review-cross-icon:before {
  content: "\e922";
}
.review-gem-outline:before {
  content: "\e900";
}
.review-gem:before {
  content: "\e901";
}
.review-heart-outline:before {
  content: "\e902";
}
.review-heart:before {
  content: "\e903";
}
.review-leaf-outline:before {
  content: "\e904";
}
.review-leaf:before {
  content: "\e905";
}
.review-rocket-outline:before {
  content: "\e906";
}
.review-rocket:before {
  content: "\e907";
}
.review-round-star:before {
  content: "\e908";
}
.review-star-sharp-outline:before {
  content: "\e909";
}
.review-star-sharp:before {
  content: "\e90a";
}
.review-star-lc-outline:before {
  content: "\e90b";
}
.review-star-hc:before {
  content: "\e90c";
}
.review-star-hc-outline:before {
  content: "\e90d";
}
.review-round-star-outline:before {
  content: "\e90e";
}
.review-star-mc:before {
  content: "\e90f";
}
.review-trophy-outline:before {
  content: "\e910";
}
.review-trophy:before {
  content: "\e911";
}
