@media screen and (min-width: 769px) {
    /*Product-Widget*/
    .wd_preview_content.product-widget-preview-mobile {
        width: 386px;
        margin: auto auto;

        .grid-product-review-preview {
            min-width: 150px;
        }
    }

    /*PopupWidget*/
    .wd_preview_content.popup-widget-preview-mobile {
        width: 386px;
        margin: auto auto;
    }
}