.wd_preview_content{
    background-color: white;
}

.r_puw_container {
    margin: .5rem;
    position: absolute;
    border-radius: .5rem;
    width: 200px;
}
.slide-in{

}
.r_puw_close-icon {
    border-radius: 50%;
    padding: .5em;
    position: absolute;
    right: -12px;
    top: -12px;
    display: flex;
    justify-content: center;
    opacity: 0.2;
    cursor: pointer;
}

.r_puw_close-icon:hover {
    opacity: 1;
}

.r_puw-review_wrapper {
    border-radius: .5rem;
    overflow: clip;
}


.r_puw-review_image_wrapper {
}

.r_puw-review_image {
    min-height: 160px;
    max-height: 250px;
    min-width: 100%;
    object-fit: cover;
}

.r_puw-review-details-wrapper {
    padding: .5rem;
}

.r_puw-review-details-name {

}

.r_puw-review-details-name {
    display: flex;
    gap: .3rem;
}

.r_puw-review-details-content {

}


.r_puw-product_details_wrapper {
    padding: .5rem;
}

.r_puw-product_details-img_wrapper {

}

.r_puw-product_details-img {
    width: 50px;
    height: 50px;
}

.r_puw-product_details-product_title {

}


.r_puw-popup_left_slide_in {
    animation: r_puw-popup-left-slide-in 1000ms;
}

.r_puw-popup_right_slide_in {
    animation: r_puw-popup-right-slide-in 1000ms;
}
.r_puw-popup_left_slide_out {
    animation: r_puw-popup-left-slide-out 1000ms;
}

.r_puw-popup_right_slide_out {
    animation: r_puw-popup-right-slide-out 1000ms;
}
.r_puw-bottom_left {
    transition: bottom 0.5s ease, left 0.5s ease;
    bottom: 1rem;
    left: 1rem;
}

.r_puw-bottom_right {
    transition: bottom 0.5s ease, right 0.5s ease;
    bottom: 1rem;
    right: 1rem;
}

.r_puw-top_right {
    transition: top 0.5s ease, right 0.5s ease;
    top: 1rem;
    right: 1rem;
}

.r_puw-top_left {
    transition: top 0.5s ease, left 0.5s ease;
    top: 1rem;
    left: 1rem;
}

.r_puw-popup_sharp {
    border-radius: 2px;
}

.r_puw-popup_slightly_rounded {
    border-radius: 4px;
}

.r_puw-popup_rounded {
    border-radius: 8px;
}

.r_puw-popup_extra_rounded {
    border-radius: 16px;
}

.r_puw-popup_none {
    border-radius: 0px;
}

@keyframes r_puw-popup-left-slide-in {
    from {
        transform: translateX(-120%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes r_puw-popup-right-slide-in {
    from {
        transform: translate(120%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes r_puw-popup-left-slide-out {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-120%);
    }
}

@keyframes r_puw-popup-right-slide-out {
    from {
        transform: translate(0%);
    }
    to {
        transform: translateX(120%);
    }
}

@media screen and (max-width: 600px) {
    .r_puw_container {
        width: 150px;
    }
    .r_puw-review_image_wrapper {
        max-height: 200px;
        overflow: hidden;
    }

}

