.r_pw_mh_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.25rem;
    gap: 1rem;
}

.r_pw_mh_rating_container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
}

.r_pw_mh_rating_details {
    display: flex;
    gap: .75rem;
}

.r_pw_mh_overall_reviews {
    display: flex;
    gap: .75rem;
    align-items: center;
}

.r_pw_mh_overall_reviews_count {

}

.r_pw_mh_sorting_open_icon {

}

.r_pw_mh_sorting_close_icon {

}

.r_pw_mh_actions_container {
    display: flex;
    gap: .5rem;
    justify-content: start;
    align-items: center;
}
.r_pw_mh_actions_container--btn_container {

}

.r_pw_mh_actions_container--btn_container-btn {
   padding: .5rem;
}
.r_pw_mh_actions_container--sorting_container {

}

.r_pw_mh_actions_container--sorting_container-btn {
    padding: .5rem;
}

/*//mlj*/
.overall_rating_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.overall_rating {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.rating_details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.rating_row {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}


.progress_bar {
    width: 100px;
    height: 13px;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 769px) {
    :global(.product-widget-preview-mobile) .minimal_header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}